<form method="get" action="/quizes">
<label for="search">Búsqueda:</label>
<input id="search" name="search" type="search" placeholder="Busque preguntas..."/>
<button type="submit" value="Buscar">Buscar</button>
</form>
<table>
<table style="border: 1 solid red;">
<tr><th>Pregunta</th><th>Tema</th><th>&nbsp;</th><th>&nbsp;</th></tr>
<% var i; for (i=0; i < quizes.length; i++){ %>
    <tr>
        <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
        <td><%= quizes[i].tema %></td>
        <td><a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
        <td>
        <form method="post" action="quizez/<%= quizes[i].id %>?_method=delete">
        <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>;')">
        Borrar
        </button>
        </form>
        </td>
        </tr>
<% } %>
</table><br>
<a href="/quizes/new"><button type="button">Crear Pregunta</button></a>
