<form method="get" action="/quizes/<%= quiz.id %>/answer">
    Pregunta: <%= quiz.pregunta %><br>
    <input type="text" name="respuesta" Value="" placeholder="Responda aquí..." autofocus/>
    <input type="submit" value="Enviar" />
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button type="button">Nuevo Comentario</button></a></p>
<p>
  <strong>Comentarios</strong>    
  <% console.log(JSON.stringify(quiz.Comments));
    for (var index in quiz.Comments) { %>
    <% if(quiz.Comments[index].publicado || session.user) { %>
      <p>- <%= quiz.Comments[index].texto %>
        <% if(session.user && !quiz.Comments[index].publicado) { %>
          <a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish">
            <button>Publicar</button>
          </a>
        <% } %>
      </p>
    <% } %>
  <% } %>
</p>
